---
- name: Install client package
  ansible.builtin.package:
    name: redis-tools
    state: present
  tags:
    - redis

- name: Create server volume
  when: redis_volume_server | default(false)
  ansible.builtin.file:
    path: "{{ redis_volume_server }}"
    state: directory
    owner: "1000"
    group: "1000"
    mode: u=rwx,g=rx,o=rx
  tags:
    - redis

- name: Write env config
  notify:
    - Restart redis
  ansible.builtin.template:
    src: default.j2
    dest: /etc/default/redis
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - redis

- name: Write service file
  notify:
    - Restart redis
  ansible.builtin.template:
    src: service.j2
    dest: /etc/systemd/system/redis.service
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - redis

- name: Pull docker image
  when:
    - redis_pull_image
  community.docker.docker_image:
    name: "{{ redis_image }}"
    source: pull
  tags:
    - redis

- name: Create docker network
  when:
    - false if redis_network is none else (redis_network | length > 0)| default(false)
  community.docker.docker_network:
    name: '{{ redis_network }}'
  tags:
    - redis

- name: Start redis service
  ansible.builtin.systemd:
    name: redis
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - redis

...
